/* tslint:disable */
/* eslint-disable */

import React, { FunctionComponent } from 'react';

export interface Props {
  name: '#names#';
  size?: number;
  color?: string | string[];
  style?: React.CSSProperties;
}

const IconFont: FunctionComponent<Props> = () => {
  return null;
};

export default IconFont;
