/* eslint-disable */

import Taro from '@tarojs/taro';
import Icon from './rn/RNIcon';

const IconFont = (props) => {
  const { name, size, color } = props;

  return <Icon name={name} size={#rpx-1:parseFloat(Taro.pxTransform(size)):##rpx-0:size:#} color={color} />;
};

IconFont.defaultProps = {
  size: #size#,
};

export default IconFont;
