/* eslint-disable */
import { FunctionComponent } from '@tarojs/taro';

interface Props {
  name: '#names#';
  size?: number;
  color?: string | string[];
}

export declare const #SummaryIcon#: FunctionComponent<Props>;

export default #SummaryIcon#;
