/* tslint:disable */
/* eslint-disable */

import React, { FunctionComponent } from 'react';

export type IconNames = '#names#';

export interface IconProps {
  name: IconNames;
  size?: number;
  color?: string | string[];
  style?: React.CSSProperties;
}

const #ComponentName#: FunctionComponent<IconProps> = () => {
  return null;
};

export default #ComponentName#;
