/* eslint-disable */
import { FunctionComponent } from 'react';

interface Props {
  name: '#names#';
  size?: number;
  color?: string | string[];
}

declare const IconFont: FunctionComponent<Props>;

export default IconFont;
