/* eslint-disable */

import React from 'react';
#rpx-1:import Taro from '@tarojs/taro';:#

const #ComponentName# = (props) => {
  const { name, size, color, style } = props;

  return <#component-name# name={name} size={#rpx-1:parseFloat(Taro.pxTransform(size)):##rpx-0:size:#} color={color} style={style} />;
};

#ComponentName#.defaultProps = {
  size: #size#,
};

export default #ComponentName#;
