/* eslint-disable */

import Taro from '@tarojs/taro';

export const #SummaryIcon# = (props) => {
  const { name, size, color } = props;

  return <iconfont name={name} size={#rpx-1:parseFloat(Taro.pxTransform(size)):##rpx-0:size:#} color={color} />;
};

#SummaryIcon#.defaultProps = {
  size: #size#,
};

#SummaryIcon#.config = {
  usingComponents: {
    iconfont: './#platform#/#platform#',
  },
};

export default #SummaryIcon#;
